@charset "UTF-8";
@font-face {
  font-family: 'SmartFontUI';
  src: url("../font/03スマートフォントUI.ttf");
}
@font-face {
  font-family: 'Line';
  src: url("../font/Line-Light.otf") format("opentype");
}
/* line 5, ../sass/index.scss */
#wrap {
  min-height: 100vh;
  /*全画面表示※横幅はスクロールバーが出るので100%にすること*/
  background-color: 000;
  background-attachment: fixed;
  /**/
  background-image: url("../images/back-img/rain_r.jpg");
  background-position: center center;
  /*真ん中に表示*/
  background-size: cover;
  /*全画面表示*/
}

/* line 15, ../sass/index.scss */
main {
  width: 100%;
}
/* line 18, ../sass/index.scss */
main #contents {
  width: 100%;
}
/* line 21, ../sass/index.scss */
main #contents #self-introduction {
  width: 1000px;
  margin: 70px auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 28, ../sass/index.scss */
main #contents #self-introduction #logo-big {
  width: 387px;
  height: 283px;
}
/* line 33, ../sass/index.scss */
main #contents #self-introduction #about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 583px;
  height: 300px;
  margin-left: 200px;
}
/* line 42, ../sass/index.scss */
main #contents #self-introduction #about h2 {
  margin-bottom: 20px;
  color: white;
  font-family: SmartFontUI;
  font-size: 40px;
  text-align: center;
}
/* line 51, ../sass/index.scss */
main #contents #self-introduction #about ul li {
  margin-bottom: 10px;
}
/* line 54, ../sass/index.scss */
main #contents #self-introduction #about ul li p {
  color: white;
  font-family: SmartFontUI;
  font-size: 30px;
}
/* line 63, ../sass/index.scss */
main #contents #self-more {
  width: 1000px;
  margin: 0 auto 50px auto;
  text-align: center;
  font-family: SmartFontUI;
}
/* line 69, ../sass/index.scss */
main #contents #self-more h2 {
  color: white;
  font-size: 40px;
  margin-bottom: 25px;
}
/* line 74, ../sass/index.scss */
main #contents #self-more p {
  color: white;
  font-size: 25px;
}
/* line 78, ../sass/index.scss */
main #contents #self-more p#read {
  margin-bottom: 25px;
}
