@charset "UTF-8";
@font-face {
  font-family: 'SmartFontUI';
  src: url("../font/03スマートフォントUI.ttf");
}
@font-face {
  font-family: 'Line';
  src: url("../font/Line-Light.otf") format("opentype");
}
/* line 4, ../sass/modal.scss */
#wrap {
  /*全画面表示※横幅はスクロールバーが出るので100%にすること*/
  width: 100%;
  height: 100vh;
}

/* line 11, ../sass/modal.scss */
#contents {
  text-align: center;
}
/* line 14, ../sass/modal.scss */
#contents img {
  border: solid 1px #000;
}
/* line 17, ../sass/modal.scss */
#contents h2 {
  font-family: SmartFontUI;
  font-size: 20px;
}
/* line 21, ../sass/modal.scss */
#contents h3 {
  font-family: SmartFontUI;
  font-size: 16px;
}
/* line 24, ../sass/modal.scss */
#contents h3 p {
  font-family: SmartFontUI;
}
/* line 29, ../sass/modal.scss */
#contents #points p {
  margin: 0;
  font-family: SmartFontUI;
  font-size: 16px;
}
/* line 33, ../sass/modal.scss */
#contents #points p span.color {
  color: red;
}
/* line 38, ../sass/modal.scss */
#contents #points h2 {
  color: #5ABE3B;
  font-family: Line;
  font-size: 20px;
}
/* line 44, ../sass/modal.scss */
#contents #submit-buttom {
  display: inline-block;
  margin: 10px 0 50px 0;
}
/* line 48, ../sass/modal.scss */
#contents #submit-buttom a {
  padding: 10px 30px;
  text-decoration: none;
  color: #5ABE3B;
  background-color: #000;
  border: solid 3px #5ABE3B;
  border-radius: 5px;
  font-family: SmartFontUI;
  font-size: 15px;
  transition: background-color 0.3s linear;
}
/* line 59, ../sass/modal.scss */
#contents #submit-buttom a:hover {
  background-color: white;
}
/* line 63, ../sass/modal.scss */
#contents #submit-buttom a#site {
  margin-right: 15px;
}
/* line 67, ../sass/modal.scss */
#contents #submit-buttom a#my-camp {
  margin-left: 15px;
}
