@charset "utf-8";
@font-face {
	font-family: 'SmartFontUI';
	//src: url(font/SmartFontUI.ttf) format('truetype');
	src: url('../font/03スマートフォントUI.ttf');
}

@font-face {
	font-family: 'Line';
	//src: url(font/Line-Light.otf) format('opentype');
	src: url('../font/Line-Light.otf') format('opentype');
}
