@import "font";
#wrap{
  position: relative;
  //padding-bottom: 60px;
}
#footer-space{
  height: 100px;
}
footer{
  position: fixed;
  bottom: 0;
  width: 100vw;
  #frame{
    text-align: center;
    width: 100vw;
    background-color: black;
    padding: 50px 0;
    p{
      color: white;
      font-family: Line;
      font-size: 20px;
    }
  }
}
