@import url(font.scss);

header{
    width: 100%;    /*横幅最大*/
    height: 100px;
    background-color: black;
    display: inline-flex;
    align-items: center;
    position: fixed;
    z-index: 999;

    #logo{
        width: 370px;    /*logoと空白(15px)とタイトルを合わせた数*/
        height: 100px;
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        a{
            /*ロゴのリンク*/

            img{
                margin: 0 15px;
            }
        }
        h1{
            /*logoタイトル*/
            display: inline-block;
            color: white;
            font-family: Line;
            font-size: 20px;

        }
    }
    nav{
        width: 550px;
        display: inline-block;
        position: absolute;
        right: 10px;

        ul{
            width: 570px;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            li{
                margin-right: 58px; //一つ一つのnavに隙間を空ける

                a{
                    display: block;
                    color: white;
                    font-size: 18px;
                    font-family: Line;
                    text-decoration: none;
                    transition: color 0.3s linear, border-bottom 0.5s linear;

                    &:hover{
                        color: #5ABE3B;
                        border-bottom: solid 1px #5ABE3B;
                    }

                    p{

                        &#now{
                            /*現在いるnavの色を変える*/
                            color: #5ABE3B;
                            border-bottom: solid 1px #5ABE3B;
                        }
                        i{
                          margin-right: 5px;
                        }
                    }
                }
            }
        }
    }
}
#header-space{
    /*headerのposition: fixedでの重なりを防止する(header-heightの100px分)*/
    height: 100px;
}
