@charset "utf-8";
//@import url(font.scss);
@import "font";

#wrap{
    min-height: 100vh;
    /*全画面表示※横幅はスクロールバーが出るので100%にすること*/
    background-color: 000;
    background-attachment: fixed; /**/
    background-image: url("../images/back-img/rain_r.jpg");
    background-position: center center; /*真ん中に表示*/
    background-size: cover; /*全画面表示*/
}

main{
    width: 100%;

    #contents{
        width: 100%;

        #self-introduction{
            width: 1000px;
            margin: 70px auto 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;

            #logo-big{
                width: 387px;
                height:283px;

            }
            #about{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 583px;
                height: 300px;
                margin-left: 200px;

                h2{
                    margin-bottom: 20px;
                    color: white;
                    font-family: SmartFontUI;
                    font-size: 40px;
                    text-align: center;
                }
                ul{

                    li{
                        margin-bottom: 10px;

                        p{
                            color: white;
                            font-family: SmartFontUI;
                            font-size: 30px;
                        }
                    }
                }
            }
        }
        #self-more{
            width: 1000px;
            margin: 0 auto 50px auto;
            text-align: center;
            font-family: SmartFontUI;

            h2{
                color: white;
                font-size: 40px;
                margin-bottom: 25px;
            }
            p{
                color: white;
                font-size: 25px;

                &#read{
                    margin-bottom: 25px;
                }
            }
        }
    }
}
