@import "font";

#wrap{
    /*全画面表示※横幅はスクロールバーが出るので100%にすること*/
    width: 100%;
    height: 100vh;

}

#contents{
  text-align: center;

  img{
    border: solid 1px #000;
  }
  h2{
    font-family: SmartFontUI;
    font-size: 20px;
  }
  h3{
    font-family: SmartFontUI;
    font-size: 16px;
    p{
      font-family: SmartFontUI;
    }
  }
  #points{
    p{
      font-family: SmartFontUI;
      font-size: 16px;
      span.color{
        //強調する部分
        color: red;
      }
    }
    h2{
      color: #5ABE3B;
      font-family: Line;
      font-size: 20px;
    }
  }
  #submit-buttom{
    display: inline-block;
    margin: 0 15px;

    a{
      padding: 10px 30px;
      text-decoration: none;
      color: #5ABE3B;
      background-color: #000;
      border: solid 3px #5ABE3B;
      border-radius: 5px;
      font-family: SmartFontUI;
      font-size: 15px;
      transition: background-color 0.3s linear;

      &:hover{
        background-color: white;

      }
      &#site{
        margin-right: 15px;
      }

      &#my-camp{
        margin-left: 15px;
      }


    }
  }
}
